doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='Alfonso Gober')
    link(rel='shortcut icon', href="https://s3.amazonaws.com/merciba.com/assets/favicon.ico")
    link(rel='icon', sizes='16x16 32x32 64x64', href="https://s3.amazonaws.com/merciba.com/assets/favicon.ico")
    link(rel='icon', type='image/png', href='https://s3.amazonaws.com/merciba.com/assets/favicon-196x196.png', sizes='196x196')
    link(rel='icon', type='image/png', href='https://s3.amazonaws.com/merciba.com/assets/favicon-96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href='https://s3.amazonaws.com/merciba.com/assets/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='https://s3.amazonaws.com/merciba.com/assets/favicon-16x16.png', sizes='16x16')
    link(rel='icon', type='image/png', href='https://s3.amazonaws.com/merciba.com/assets/favicon-128.png', sizes='128x128')
    link(rel='apple-touch-icon-precomposed', sizes='57x57', href='https://s3.amazonaws.com/merciba.com/assets/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='https://s3.amazonaws.com/merciba.com/assets/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='https://s3.amazonaws.com/merciba.com/assets/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='https://s3.amazonaws.com/merciba.com/assets/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon-precomposed', sizes='60x60', href='https://s3.amazonaws.com/merciba.com/assets/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon-precomposed', sizes='120x120', href='https://s3.amazonaws.com/merciba.com/assets/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon-precomposed', sizes='76x76', href='https://s3.amazonaws.com/merciba.com/assets/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon-precomposed', sizes='152x152', href='https://s3.amazonaws.com/merciba.com/assets/apple-touch-icon-152x152.png')
    meta(name='application-name', content=' ')
    meta(name='msapplication-TileColor', content='#FFFFFF')
    meta(name='msapplication-TileImage', content='https://s3.amazonaws.com/merciba.com/assets/mstile-144x144.png')
    meta(name='msapplication-square70x70logo', content='https://s3.amazonaws.com/merciba.com/assets/mstile-70x70.png')
    meta(name='msapplication-square150x150logo', content='https://s3.amazonaws.com/merciba.com/assets/mstile-150x150.png')
    meta(name='msapplication-wide310x150logo', content='https://s3.amazonaws.com/merciba.com/assets/mstile-310x150.png')
    meta(name='msapplication-square310x310logo', content='https://s3.amazonaws.com/merciba.com/assets/mstile-310x310.png')
    meta(name='msapplication-config', content='/browserconfig.xml')
    title #{title}Merciba Design and Development
    style(type="text/css").
      @font-face{font-family:Karla;font-style:normal;font-weight:400;src:local(Karla),local(Karla-Regular),url(http://fonts.gstatic.com/s/karla/v5/S1bXQ0LrY7AzefpgNae9sYDGDUGfDkXyfkzVDelzfFk.woff2) format('woff2')}@font-face{font-family:Karla;font-style:normal;font-weight:400;src:local(Karla),local(Karla-Regular),url(http://fonts.gstatic.com/s/karla/v5/JaMH4jmmzP070-OYo03anaCWcynf_cDxXwCLxiixG1c.woff2) format('woff2')}@media (min-width:1025px){body,html{min-height:100%;min-width:100%;background:#fff!important;}#main-logo,.logo-container{cursor:default}html,nav{height:100%}html{width:100%}body{font-family:Karla,sans-serif!important;background:#fff!important;}a,a:visited{visibility:inherit;text-decoration:none!important}#main-logo{opacity:1;width:610px;height:585px;float:none;margin:300px 30%;transition:opacity .25s}nav{position:fixed;top:0;left:-200px;width:300px;opacity:.9;transition:left .5s;-webkit-transition:left .5s;z-index:1}#nav-links,.nav-logo,.spinner{position:absolute}#nav-items,#nav-links{list-style-type:none}#nav-items li,#nav-links li{width:100%;height:24px;margin:25px 35px;font-family:Karla;font-size:18px;font-weight:700;line-height:33px;text-transform:uppercase}#nav-items li a{color:#3A4045}#nav-links li a{color:#778087}#nav-items li p,#nav-links li p{margin-top:-46px;margin-left:40px}#nav-items{margin-top:50px}#nav-links{bottom:90px}#nav-links li a div{margin-left:10px}nav *{transition:left .5s,margin-left .2s,opacity .5s;-webkit-transition:left .5s,margin-left .2s,opacity .5s}.nav-logo{top:-120px;left:15px}.closed ul li p{opacity:0}.closed .nav-logo{left:190px}.closed ul li object{margin-left:188px}.menu-icon{width:17px;height:17px;margin:10px}.triangle{margin:12px;font-size:20px}.nav-logo{margin:48px 0 40px 48px;height:70px;width:70px}.spinner{top:0;left:0;z-index:2;background:url(https://s3.amazonaws.com/merciba.com/assets/loader.gif) 50% no-repeat #fff;background-size:50px 50px;width:100%;height:100%}.changeOrientation{display:none}}@media (max-width:1025px){body,html,main{min-width:100%;background:#fff!important;}.changeOrientation,.spinner{position:absolute;top:0;left:0;z-index:2}html{height:100vh;min-height:100vh;width:100%}body,main{font-family:Karla,sans-serif!important;height:100%;background:#fff!important;overflow-x:hidden;overflow-y:scroll;-webkit-overflow-scrolling:touch}a,a:visited{visibility:inherit;text-decoration:none!important}#main-logo{width:60%;float:none;margin:auto;cursor:default}.changeOrientation,.logo-container,.spinner{width:100%;height:100%}.logo-container{padding:20% 10% 0;background:#fff!important;}.spinner{background:url(https://s3.amazonaws.com/merciba.com/assets/loader.gif) 50% no-repeat #fff;background-size:50px 50px}.changeOrientation{display:none;background:#fff}.changeOrientation div{padding-top:20%;width:60%;height:200px;float:none;margin:auto}#nav-links,nav{width:100%;position:fixed}nav{height:48px;background:#fff;–webkit-transform:tranzlateZ(0);z-index:5}#nav-items,#nav-links{padding:0;list-style-type:none}#nav-items li,#nav-links li{font-family:Karla;font-weight:700;line-height:24px;text-transform:uppercase;display:inline-block}#nav-items li{padding:10px 0;width:33.3%;height:48px;text-align:center;font-size:18px}#nav-links li{padding:24px 0;width:15%;height:24px;font-size:22px;text-align:center}#blog-link{width:55%!important;text-align:right!important;font-size:18px!important}#nav-items li a{color:#3A4045}#nav-links li a{color:#778087}#nav-items li p,#nav-links li p{margin:0}#nav-items{margin:0;transition:top .5s;-webkit-transition:top .5s}#nav-links{height:85px;padding-left:20px;margin-top:0!important;margin-bottom:0!important;transition:top .5s;-webkit-transition:top .5s}#nav-links .menu-icon{display:block}.menu-icon,.nav-logo{display:none}.color-logo{display:block;height:52px;top:-52px;position:fixed;left:45%;z-index:1;transition:top .25s;-webkit-transition:top .25s}}@media (max-width:1025px) and (orientation :landscape){.changeOrientation{display:block}main{display:hidden;-webkit-overflow-scrolling:none}article,nav{display:none}}
    script(type="text/javascript").
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-91112405-1', 'auto');
      ga('send', 'pageview');
  body(data-route=route, data-role="content")
    #app
    footer
      div(class='footer')
        div(class='footer-left')
          | © 2017 Merciba LLC
          | &nbsp;&nbsp;|&nbsp;&nbsp;
          | Made with&nbsp;
          a(href='https://nodejs.org/', target='_blank') Node.js&nbsp;
          | and&nbsp;
          a(href='https://facebook.github.io/react/', target='_blank') React.js&nbsp;
          | in Brooklyn, New York 🗽
    script(type="text/javascript").
      var scripts = [
        "/scripts/vendor/font-awesome.min.js",
        "/index.min.js"
      ]
      function download() {
        scripts.map(function (url) {
          var element = document.createElement("script");
          element.src = url;
          document.body.appendChild(element);
        })
      }
      if (window.addEventListener) window.addEventListener("load", download, false);
      else if (window.attachEvent) window.attachEvent("onload", download);
      else window.onload = download;

    link(rel="stylesheet", media="screen", href="/index.min.css")
