doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='Alfonso Gober')
    title #{title}Merciba Design and Development
  body(data-route=route, data-role="content")
    #app
    footer
      div(class='footer')
        div(class='footer-left')
          | © 2017 Merciba LLC
          | &nbsp;&nbsp;|&nbsp;&nbsp;
          | Made with&nbsp;
          a(href='https://nodejs.org/', target='_blank') Node.js&nbsp;
          | and&nbsp;
          a(href='https://facebook.github.io/react/', target='_blank') React.js&nbsp;
          | in Brooklyn, New York 🗽
    script(type="text/javascript").
      var styles = [
        "/styles/vendor/Karla.css",
        "/styles/vendor/jquery.mobile-1.5.0-alpha.1.min.css",
        "/styles/vendor/font-awesome.min.css",
        "/index.min.css"
      ]
      var scripts = [
        "/scripts/vendor/font-awesome.min.js",
        "/scripts/vendor/jquery-3.1.1.min.js",
        "/scripts/vendor/jquery.mobile-1.5.0-alpha.1.min.js",
        "/index.min.js"
      ]
      function download() {
        styles.map(function (url) {
          var element = document.createElement("link");
          element.rel = 'stylesheet';
          element.href = url;
          document.head.appendChild(element);
        })
        scripts.map(function (url) {
          var element = document.createElement("script");
          element.src = url;
          document.body.appendChild(element);
        })
      }
      if (window.addEventListener) window.addEventListener("load", download, false);
      else if (window.attachEvent) window.attachEvent("onload", download);
      else window.onload = download;
