doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='Alfonso Gober')
    script(src='//use.typekit.net/tzu6tau.js')
    script.
      try{Typekit.load();}catch(e){}
    title #{title}Merciba Design and Development
    link(rel="stylesheet", href='https://fonts.googleapis.com/css?family=Karla')
    link(rel='stylesheet', href='/styles/font-awesome.min.css')
    link(rel='stylesheet', href='/styles/style.css')
    link(rel='stylesheet', href='/styles/nav.css')
    link(rel='stylesheet', href='/styles/footer.css')
    link(rel='stylesheet', href='/styles/about.css')
    link(rel='stylesheet', href='/styles/contact.css')
    link(rel='stylesheet', href='/styles/responsive.css')
  body(data-route="#{route}")
    #app
      | !{reactOutput}
    script(src="/index.js")
    
