doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='Alfonso Gober')
    title #{title}Merciba Design and Development
    style(type="text/css").
      @font-face {
        font-family: Karla;
        font-style: normal;
        font-weight: 400;
        src: local(Karla), local(Karla-Regular), url(http://fonts.gstatic.com/s/karla/v5/S1bXQ0LrY7AzefpgNae9sYDGDUGfDkXyfkzVDelzfFk.woff2) format('woff2');
        unicode-range: ;
      }

      @font-face {
        font-family: Karla;
        font-style: normal;
        font-weight: 400;
        src: local(Karla), local(Karla-Regular), url(http://fonts.gstatic.com/s/karla/v5/JaMH4jmmzP070-OYo03anaCWcynf_cDxXwCLxiixG1c.woff2) format('woff2');
        unicode-range: ;
      }
      @media (min-width:1024px) {

        html {
          height:100%;
          min-height:100%;
          width:100%;
          min-width:100%;
        }

        body {
          font-family: 'Karla', sans-serif !important;
          min-height: 100%;
          min-width: 100%;
        }

        a, a:visited {
          visibility: inherit;
          text-decoration: none !important;
        }

        #main-logo {
          opacity: 1;
          width: 610px;
          height: 585px;
          float: none;
          margin: 300px 30%;
          cursor: default;
          transition: opacity 0.25s;
        }

        .logo-container {
          cursor: default;
        }

        nav {
          position: fixed;
          top: 0;
          left: -200px;
          width: 300px;
          height: 100%;
          opacity: 0.9;
          transition: left 0.5s;
          -webkit-transition: left 0.5s;
          z-index: 1;
        }

        #nav-items, #nav-links {
          list-style-type: none;
        }

        #nav-items li, #nav-links li {
          width: 100%;
          height: 24px;
          margin: 25px 35px;
          font-family: Karla;
          font-size: 18px;
          font-weight: bold;
          line-height: 33px;
          text-transform: uppercase;
        }

        #nav-items li a {
          color: #3A4045;
        }

        #nav-links li a {
          color: #778087;
        }

        #nav-items li p, #nav-links li p {
          margin-top: -46px;
          margin-left: 40px;
        }

        #nav-items {
          margin-top: 50px;
        }

        #nav-links {
          position: absolute;
          bottom: 90px;
        }

        #nav-links li a div {
          margin-left: 10px;
        }

        nav * {
          transition: left 0.5s, margin-left 0.2s, opacity 0.5s;
          -webkit-transition: left 0.5s, margin-left 0.2s, opacity 0.5s;
        }

        .nav-logo {
          position: absolute;
          top: -120px;
          left: 15px;
        }

        .closed ul li p {
          opacity: 0;
        }

        .closed .nav-logo {
          left: 190px;
        }

        .closed ul li object {
          margin-left: 188px;
        }

        .menu-icon {
          margin-left: 10px;
          margin-right: 10px;
          margin-bottom: 10px;
          margin-top: 10px;
          width: 17px;
          height: 17px;
        }

        .triangle {
          margin: 12px;
          font-size: 20px;
        }

        .nav-logo {
          margin: 48px 0 40px 48px;
          height: 70px;
          width: 70px;
        }

        .spinner {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
          background: white url('https://s3.amazonaws.com/merciba.com/assets/loader.gif') no-repeat;
          background-size: 50px 50px;
          background-position: 50%;
          width: 100%;
          height: 100%;
        }

        .changeOrientation {
          display: none;
        }
      }
      @media (max-width:1024px) {
      /* smartphones, iPhone, portrait 480x320 phones */
        html {
          height:100vh;
          min-height:100vh;
          width:100%;
          min-width:100%;
        }

        body, main {
          font-family: 'Karla', sans-serif !important;
          height: 100%;
          min-width: 100%;
          overflow-x: hidden;
          overflow-y: scroll;
          -webkit-overflow-scrolling: touch;
        }

        a, a:visited {
          visibility: inherit;
          text-decoration: none !important;
        }

        #main-logo {
          width: 60%;
          float: none;
          margin: auto;
          cursor: default;
        }

        .logo-container {
          height: 100%;
          width: 100%;
          padding: 20% 10% 0 10%;
          background: white;
        }

        .spinner {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
          background: white url('https://s3.amazonaws.com/merciba.com/assets/loader.gif') no-repeat;
          background-size: 50px 50px;
          background-position: 50%;
          width: 100%;
          height: 100%;
        }

        .changeOrientation {
          display: none;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
          background: white;
          width: 100%;
          height: 100%;
        }

        .changeOrientation div {
          padding-top: 20%;
          width: 60%;
          height: 200px;
          float: none;
          margin: auto;
        }

        nav {
          position: fixed;
          width: 100%;
          height: 48px;
          background: white;
          –webkit-transform: tranzlateZ(0);
          z-index: 5;
        }

        #nav-items, #nav-links {
          padding: 0;
          list-style-type: none;
        }

        #nav-items li, #nav-links li {
          font-family: Karla;
          font-weight: bold;
          line-height: 24px;
          text-transform: uppercase;
          display: inline-block;
        }

        #nav-items li {
          padding: 10px 0;
          width: 33.3%;
          height: 48px;
          text-align: center;
          font-size: 18px;
        }

        #nav-links li {
          padding: 24px 0;
          width: 15%;
          height: 24px;
          font-size: 22px;
          text-align: center;
        }

        #blog-link {
          width: 55% !important;
          text-align: right !important;
          font-size: 18px !important;
        }

        #nav-items li a {
          color: #3A4045;
        }

        #nav-links li a {
          color: #778087;
        }

        #nav-items li p, #nav-links li p {
          margin: 0;
        }

        #nav-items {
          margin: 0;
          transition: top 0.5s;
          -webkit-transition: top 0.5s;
        }

        #nav-links {
          position: fixed;
          width: 100%;
          height: 85px;
          padding-left: 20px;
          margin-top: 0 !important;
          margin-bottom: 0 !important;
          transition: top 0.5s;
          -webkit-transition: top 0.5s;
        }

        #nav-links .menu-icon {
          display: block;
        }

        .nav-logo {
          display: none;
        }

        .menu-icon {
          display: none;
        }

        .color-logo {
          display: block;
          height: 52px;
          top: -52px;
          position: fixed;
          left: 45%;
          z-index: 1;
          transition: top 0.25s;
          -webkit-transition: top 0.25s;
        }
      }
      @media (max-width:1024px) and (orientation : landscape) {
        .changeOrientation {
          display: block;
        }
        main {
          display: hidden;
          -webkit-overflow-scrolling: none;
        }
        nav, article {
          display: none;
        }
      }
  body(data-route=route, data-role="content")
    #app
    footer
      div(class='footer')
        div(class='footer-left')
          | © 2017 Merciba LLC
          | &nbsp;&nbsp;|&nbsp;&nbsp;
          | Made with&nbsp;
          a(href='https://nodejs.org/', target='_blank') Node.js&nbsp;
          | and&nbsp;
          a(href='https://facebook.github.io/react/', target='_blank') React.js&nbsp;
          | in Brooklyn, New York 🗽
    script(type="text/javascript").
      var scripts = [
        "/scripts/vendor/font-awesome.min.js",
        "/scripts/vendor/jquery-3.1.1.min.js",
        "/scripts/vendor/jquery.mobile-1.5.0-alpha.1.min.js",
        "/index.min.js"
      ]
      function download() {
        scripts.map(function (url) {
          var element = document.createElement("script");
          element.src = url;
          document.body.appendChild(element);
        })
      }
      if (window.addEventListener) window.addEventListener("load", download, false);
      else if (window.attachEvent) window.attachEvent("onload", download);
      else window.onload = download;
    link(rel="stylesheet", media="screen", href="/styles/vendor/jquery.mobile-1.5.0-alpha.1.min.css")
    link(rel="stylesheet", media="screen", href="/styles/vendor/font-awesome.min.css")
    link(rel="stylesheet", media="screen", href="/index.min.css")
