doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='Alfonso Gober')
    title #{title}Merciba Design and Development
    link(rel="stylesheet", href='http://fonts.googleapis.com/css?family=Karla')
    script(src="https://use.fontawesome.com/63c8860610.js")
    link(rel='stylesheet', href='/styles/style.css')
    link(rel='stylesheet', href='/styles/nav.css')
    link(rel='stylesheet', href='/styles/footer.css')
    link(rel='stylesheet', href='/styles/about.css')
    link(rel='stylesheet', href='/styles/contact.css')
    link(rel='stylesheet', href='http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css')
    script(src='http://code.jquery.com/jquery-1.11.1.min.js')
    script(src='http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js')
  body(data-route=route, data-role="content")
    #app
      | !{reactOutput}
    footer
      div(class='footer')
        div(class='footer-left')
          | © 2017 Merciba LLC
          | &nbsp;&nbsp;|&nbsp;&nbsp;
          | Made with&nbsp;
          a(href='https://nodejs.org/', target='_blank') Node.js&nbsp;
          | and&nbsp;
          a(href='https://facebook.github.io/react/', target='_blank') React.js&nbsp;
          | in Brooklyn, New York 🗽
    script(src="/index.js")
