@media (min-width:1024px) {

  #about {

  }

  .about-cards {
    margin: 6% 50% 323px 15%;
    width: 35%;
    float: left;
  }

  .about-card {
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.16), 0 4px 12px 0 rgba(0,0,0,0.22);
    background: rgba(71, 74, 81, 1.0);
    border-radius: 2px;
    padding: 24px;
    margin: 24px;
  }

  .about-card-title {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    line-height: 26px;
  }

  .about-card-description {
    font-size: 16px;
    line-height: 24px;
  }

  .about-summary {
    position: fixed;
    right: -10px;
    width: 35%;
    top: 30%;
    margin: 0 10% 323px 55%;
    color: #3A4045;
    transition: opacity 0.5s;
  }

  .about-title {
    font-size: 35px;
    font-weight: bold;
    line-height: 41px;
  }

  .about-description {
    font-size: 16px;
    line-height: 24px;
    margin-top: 24px;
  }

  .about-vertical-col {
    width: 20%;
    height: 600px;
    margin: 160px 67px;
    display: inline-block;
  }

  .about-vertical-img {
    width: 257.82px;
    height: 450.53px;
  }

  .about-vertical-title {
    font-size: 35px;
    font-weight: bold;
    line-height: 41px;
  }

  .about-page-2 {
    margin-left: 10%;
  }

  .about-page-3 {
    min-height: 1000px;
  }

  .about-page-3 .section-fixed {
    top: -24%;
  }

  .about-page-3 img {
    width: 555px;
    height: 555px;
    margin: -15% auto;
    transition: opacity 1.5s;
  }
}

@media (min-width: 1300px) and (max-width:1450px) {
  .about-page-3 img {
    margin: 0 auto;
  }
}

@media (min-width: 1024px) and (max-width:1300px) {
  .about-page-3 .section-fixed {
    font-size: 12px;
    top: -33% !important;
  }
  .about-page-3 img {
    width: 86%;
    height: auto;
    float: none;
    margin: 96px 10%;
    transition: opacity 1.5s;
  }
}

@media (max-width:1024px) {
/* smartphones, iPhone, portrait 480x320 phones */

  .about-cards {
    width: 90%;
    float: none;
    margin: auto;
  }

  .about-card {
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.16), 0 4px 12px 0 rgba(0,0,0,0.22);
    background: rgba(71, 74, 81, 1.0);
    border-radius: 2px;
    padding: 24px;
    margin: 24px;
  }

  .about-card-title {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    line-height: 26px;
  }

  .about-card-description {
    font-size: 16px;
    line-height: 24px;
  }

  .about-summary {
    width: 90%;
    float: none;
    margin: 144px auto;
    color: #3A4045;
  }

  .about-title {
    font-size: 35px;
    font-weight: bold;
    line-height: 41px;
  }

  .about-description {
    font-size: 16px;
    line-height: 24px;
    margin-top: 24px;
  }

  .about-vertical-col {
    width: 90%;
    float: none;
    margin: 144px auto;
    display: block;
  }

  .about-vertical-img {
    width: 100%;
    float: none;
    margin: auto;
  }

  .about-vertical-title {
    font-size: 35px;
    font-weight: bold;
    line-height: 41px;
  }

  .about-page-3 img {
    width: 86%;
    float: none;
    margin: 24px 7%;
    transition: opacity 1.5s;
  }
}
