footer {
  position: relative;
  display: none;
  height: 80px;
  width: 100%;
}

.footer {
  width: 100%;
  border-top: 2px solid #9B9EA2;
  text-align: right;
  padding: 25px;
  transition: display 0.5s
}

.footer-right {
  margin-right: 100px;
}

.footer-left {
  z-index: 3;
  position: absolute;
  left: 10px;
  top: 20px;
}
