#nav-items a:hover object {
  opacity: 0.5;
}

@media (min-width:1024px) {
  nav {
    position: fixed;
    top: 0;
    left: -200px;
    width: 300px;
    height: 100%;
    opacity: 0.9;
    transition: left 0.5s;
    -webkit-transition: left 0.5s;
    z-index: 1;
  }

  #nav-items, #nav-links {
    list-style-type: none;
  }

  #nav-items li, #nav-links li {
    width: 100%;
    height: 24px;
    margin: 25px 35px;
    font-family: Karla;
    font-size: 18px;
    font-weight: bold;
    line-height: 33px;
    text-transform: uppercase;
  }

  #nav-items li a object {
    opacity: 0.5;
  }

  #nav-items li a, #nav-items li.active a p  {
    color: #3A4045;
  }

  #nav-items li a:hover p {
    color: #A2A5A9;
  }

  #nav-links li a {
    color: #778087;
  }

  #nav-items li p, #nav-links li p {
    margin-top: -46px;
    margin-left: 40px;
  }

  #nav-items {
    margin-top: 55px;
  }

  #nav-links {
    margin-bottom: 0;
    position: absolute;
    bottom: 90px;
  }

  #nav-links li a div {
    margin-left: 10px;
  }

  nav * {
    transition: left 0.5s, margin-left 0.2s, opacity 0.5s;
    -webkit-transition: left 0.5s, margin-left 0.2s, opacity 0.5s;
  }

  .nav-logo {
    position: absolute;
    top: -120px;
    left: 15px;
  }

  .closed ul li p {
    opacity: 0;
  }

  .closed .nav-logo {
    left: 190px;
  }

  .closed ul li object {
    margin-left: 188px;
  }

  .menu-icon {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 17px;
    height: 17px;
  }

  .triangle {
    margin: 12px;
    font-size: 20px;
  }

  .nav-logo {
    margin: 48px 0 40px 48px;
    height: 70px;
    width: 70px;
  }
}

@media (max-width:1024px) {
/* smartphones, iPhone, portrait 480x320 phones */
  nav {
    position: fixed;
    width: 100%;
    height: 48px;
    background: white;
    –webkit-transform: tranzlateZ(0);
    z-index: 5;
  }

  #nav-items, #nav-links {
    padding: 0;
    list-style-type: none;
  }

  #nav-items li, #nav-links li {
    font-family: Karla;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
    display: inline-block;
  }

  #nav-items li {
    padding: 10px 0;
    width: 33.3%;
    height: 48px;
    text-align: center;
    font-size: 18px;
  }

  #nav-links li {
    padding: 24px 0;
    width: 15%;
    height: 24px;
    font-size: 22px;
    text-align: center;
  }

  #blog-link {
    width: 55% !important;
    text-align: right !important;
    font-size: 18px !important;
  }

  #nav-items li a {
    color: #3A4045;
  }

  #nav-links li a {
    color: #778087;
  }

  #nav-items li p, #nav-links li p {
    margin: 0;
  }

  #nav-items {
    margin: 0;
    transition: top 0.5s;
    -webkit-transition: top 0.5s;
  }

  #nav-links {
    position: fixed;
    width: 100%;
    height: 85px;
    padding-left: 20px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    transition: top 0.5s;
    -webkit-transition: top 0.5s;
  }

  #nav-links .menu-icon {
    display: block;
  }

  .nav-logo {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .color-logo {
    display: block;
    height: 52px;
    top: -52px;
    position: fixed;
    left: 45%;
    z-index: 1;
    transition: top 0.25s;
    -webkit-transition: top 0.25s;
  }
}
